// # colors
// ## colors =main-palette
$mantis = #73c356
$apple = #67af4c
$dark-apple = #5c9e44
$amaranth = #f12943
$cornflower-blue = #4f8cf3
$athens-gray = #f6f6f8
$silver = #c9c9c9
$nobel = #b3b3b3
$gray = #818181
$dove-gray = #686868
$dark-shark = #2c2c2d
$light-shark = #232324
$shark = #1b1b1c
// --
$mercury = #e5e4e3
$white = #fff
$wild-sand = #F6F6F6
$cod-gray = #1e1e1e

// ## colors =additional-palette

$red = #f00
$fresh-eggplant = #800080
$science-blue = #06c
$congo-brown = #583d3e
$black = #000

// ## colors =text

$base-color = $cod-gray
$base-inverse-color = $athens-gray
$base-accent-color = $amaranth
$base-mark-color = $silver
$base-link-color = $silver
$base-link-hover-color = $athens-gray
$base-link-active-color = $nobel
$base-link-visited-color = $fresh-eggplant
$base-link-focus-color = $red

// ## margins
$base-padding = 10px

// ## colors =backgrounds

$base-background = $mercury
$second-background = $white

// ## colors =selection

$selection-bg = $science-blue
$selection-color = $athens-gray
$main-title-color = $silver

// # Animations

$default-transition-property = all
$default-transition-duration = .4s
$default-transition-function = ease
$default-transition-delay = false

// # z-index stack

$z-index-lvl-0 = 0
$z-index-lvl-1 = 10
$z-index-lvl-2 = 20
$z-index-lvl-3 = 30
$z-index-lvl-4 = 40
$z-index-lvl-5 = 50
$z-index-lvl-6 = 60
$z-index-lvl-7 = 70
$z-index-lvl-8 = 80
$z-index-lvl-9 = 90
$z-index-lvl-10 = 100

// # Fonts

$base-font-family = Arial, 'Helvetica Neue', Helvetica, sans-serif
$roboto-font-family = 'Roboto Condensed', Arial, 'Helvetica Neue', Helvetica, sans-serif

$small-font-size = 11px
$medium-font-size = 12px
$default-font-size = 14px

$base-font-size = 16px
$base-line-height = 1.5
$vertycal-rhythm-offset = $base-font-size * $base-line-height
$base-font = $base-font-size \/ $base-line-height $base-font-family

// # Content

$content-maw = 960px
/*$content-miw = 960px*/
$content-bg = $wild-sand


// # breakpoints
$bp-tablet-medium-end = "max-width: 639px"

$bd-color = $cod-gray