@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/typography";
@import "../../styles/icons";
@import "../../styles/list";

.page {
  $padding-top: $base-padding * 4;
  $padding-bottom: $base-padding * 2;
  min-height: 100%;
  box-sizing: border-box;
  padding: $padding-top 0 $padding-bottom;
  position: relative;
  display: flex;

  &:before {
    @include parent-stretched();
    content: '';
    top: $padding-top;
    bottom: $padding-bottom;
    background: $second-background;
  }
}

.page__container {
  @include clearfix();
  max-width: $content-maw;
  margin: 0 auto;
  position: relative;
  z-index: $z-index-lvl-1;
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex: 1 0 auto;

  @media screen and (#{$bp-tablet-medium-end}) {
    display: block;
  }
}

.sidebar {
  $padding-right:  $base-padding * 2;
  $padding-left:  $base-padding * 4;
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 280px;
  order: -1;
  position: relative;
  padding: 0 $padding-right 0 $padding-left;
  
  &:before {
    $width: .2rem;
    content: '';
    background: $bd-color;
    position: absolute;
    width: $width;
    top: $base-padding * 4;
    bottom: $base-padding * 2;
    left: $padding-left - $width / 2;
  }
}

.content {
  background: $content-bg;
  padding: $base-padding * 2 $base-padding * 4 $base-padding * 2 $base-padding * 8;
  flex: 1 1 auto;
}

.person {
  @include clearfix();
  padding: $base-padding * 2 $base-padding * 2 $base-padding * 2 $base-padding * 4;
}


.person__avatar {
  @include rounded-item();
  float: left;
  margin-right: $base-padding * 8;
  position: relative;
  width: 200px;

  > img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
}

.person__text-column {
  overflow: hidden;
}

.person__title {
  @include h1();
  margin: 0 0 $vertycal-rhythm-offset;
}

.person__subtitle {
  @include sub-title();
  display: block;

  .person__title > & {
    padding-top: 1rem;
  }
}

.experience-block {
  margin: 0 0 $vertycal-rhythm-offset * 2;
}

.experience-block__title {
  @include h2();
  margin: 0 0 $vertycal-rhythm-offset;
  position: relative;
}

.title-icon {
  @include rounded-icon(5rem, 3px, 2px);
  @include centered(vertical);
  right: 100%;
  margin-right: 1rem;
}

.experience-block__item {
  @include no-last-margin();

  p {
    margin: 0;
  }
}

.experience-block__item__column {
  float: left;
  width: 50%;

  @media screen and (#{$bp-tablet-medium-end}) {
    float: none;
  }
}

.experience-block__item__title {
  @include h3();
  margin: 0;
}

.experience-block__sub-title {
  @include h4();
  margin: 0;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

.experience-block__item__title__more {
  float: right;
  margin-left: 1rem;
}