@import "../../styles/variables.styl"
@import "../../styles/mixins.styl"

.page
  min-height: 100%
  box-sizing: border-box
  padding: $base-padding * 2 0
  position: relative

  &:before
    parent-stretched()
    top: $base-padding * 4
    bottom: $base-padding * 2
    content: ''
    background: $second-background


.page__container
  clearfix()
  max-width: $content-maw
  margin: 0 auto
  position: relative
  z-index: $z-index-lvl-1
  display: flex
  flex-direction: column


.columns
  display: flex
  flex: 1 0 auto

  @media screen and ({$bp-tablet-medium-end})
    display: block

.sidebar
  flex: 0 0 auto
  width: 240px
  order: -1
  position: relative

  &:before
    content: ''
    background: $bd-color;
    position: absolute
    width: 2px
    top: $base-padding * 4
    bottom: $base-padding * 2
    left: 0

.content
  background: $content-bg;
  padding: $base-padding * 2 $base-padding * 2  $base-padding * 2 $base-padding * 8 ;

.person
  clearfix()
  padding: $base-padding * 2 $base-padding * 2 $base-padding * 2 $base-padding * 4

.person__avatar
  float: left
  margin-right: $base-padding * 4
  position: relative
  width: 200px

  &:after
    parent-stretched()
    content: ''
    border: 4px solid $bd-color;
    z-index: $z-index-lvl-1;
    border-radius: 50%
    box-shadow: inset 0 0 1px 2px $second-background
    
  > img
    display: block
    border-radius: 50%
    width: 100%
    height: 0 a



.person__text-column
  overflow: hidden

.person__title
  margin: 0 0 $vertycal-rhythm-offset