@import "styles/variables.styl"
@import "styles/mixins.styl"

html
  height: 100%

body
  height: 100%
  background: $base-background url("images/patterns/triangles.svg") 50% 50%
  color: $base-color
  font: $base-font
  position: relative
