@import "styles/variables";
@import "styles/mixins";

html {
  height: 100%;
  font-size: 62.5%;
  /*font-size: 40%*/
}

body {
  height: 100%;
  background: $base-background url("images/patterns/triangles.svg") 50% 50%;
  color: $base-color;
  position: relative;
  font: $base-font;
}

.page {

}